
NST/.DS_Store
NST/__pycache__/style_transfer.cpython-36.pyc
NST/__pycache__/tf_utils.cpython-36.pyc
NST/__pycache__/transfer_inference.cpython-36.pyc
NST/__pycache__/utils.cpython-36.pyc
NST/checkpoints/.DS_Store
NST/checkpoints/africa/checkpoint
NST/checkpoints/africa/model.data-00000-of-00001
NST/checkpoints/africa/model.index
NST/checkpoints/africa/model.meta
NST/checkpoints/aquarelle/checkpoint
NST/checkpoints/aquarelle/model.data-00000-of-00001
NST/checkpoints/aquarelle/model.index
NST/checkpoints/aquarelle/model.meta
NST/checkpoints/bango/checkpoint
NST/checkpoints/bango/model.data-00000-of-00001
NST/checkpoints/bango/model.index
NST/checkpoints/bango/model.meta
NST/checkpoints/chinese_style/checkpoint
NST/checkpoints/chinese_style/model.data-00000-of-00001
NST/checkpoints/chinese_style/model.index
NST/checkpoints/chinese_style/model.meta
NST/checkpoints/hampson/checkpoint
NST/checkpoints/hampson/model.data-00000-of-00001
NST/checkpoints/hampson/model.index
NST/checkpoints/hampson/model.meta
NST/checkpoints/la_muse/checkpoint
NST/checkpoints/la_muse/model.data-00000-of-00001
NST/checkpoints/la_muse/model.index
NST/checkpoints/la_muse/model.meta
NST/checkpoints/rain_princess/checkpoint
NST/checkpoints/rain_princess/model.data-00000-of-00001
NST/checkpoints/rain_princess/model.index
NST/checkpoints/rain_princess/model.meta
NST/checkpoints/the_scream/checkpoint
NST/checkpoints/the_scream/model.data-00000-of-00001
NST/checkpoints/the_scream/model.index
NST/checkpoints/the_scream/model.meta
NST/checkpoints/the_shipwreck_of_the_minotaur/checkpoint
NST/checkpoints/the_shipwreck_of_the_minotaur/model.data-00000-of-00001
NST/checkpoints/the_shipwreck_of_the_minotaur/model.index
NST/checkpoints/the_shipwreck_of_the_minotaur/model.meta
NST/checkpoints/udnie/checkpoint
NST/checkpoints/udnie/model.data-00000-of-00001
NST/checkpoints/udnie/model.index
NST/checkpoints/udnie/model.meta
NST/checkpoints/wave/checkpoint
NST/checkpoints/wave/model.data-00000-of-00001
NST/checkpoints/wave/model.index
NST/checkpoints/wave/model.meta
StyleGAN_edit/models/.DS_Store
StyleGAN_edit/models/boundaries/for_latent_w/0_5_o_Clock_Shadow_w/5_o_Clock_Shadow_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/0_5_o_Clock_Shadow_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/10_Blurry_w/Blurry_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/10_Blurry_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/11_Brown_Hair_w/Brown_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/11_Brown_Hair_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/12_Bushy_Eyebrows_w/Bushy_Eyebrows_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/12_Bushy_Eyebrows_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/13_Chubby_w/Chubby_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/13_Chubby_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/14_Double_Chin_w/Double_Chin_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/14_Double_Chin_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/15_Eyeglasses_w/Eyeglasses_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/15_Eyeglasses_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/16_Goatee_w/Goatee_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/16_Goatee_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/17_Gray_Hair_w/Gray_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/17_Gray_Hair_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/18_Heavy_Makeup_w/Heavy_Makeup_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/18_Heavy_Makeup_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/19_High_Cheekbones_w/High_Cheekbones_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/19_High_Cheekbones_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/1_Arched_Eyebrows_w/Arched_Eyebrows_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/1_Arched_Eyebrows_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/20_Male_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/20_Male_w/Male_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/21_Mouth_Slightly_Open_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/21_Mouth_Slightly_Open_w/Mouth_Slightly_Open_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/22_Mustache_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/22_Mustache_w/Mustache_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/23_Narrow_Eyes_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/23_Narrow_Eyes_w/Narrow_Eyes_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/24_No_Beard_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/24_No_Beard_w/No_Beard_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/25_Oval_Face_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/25_Oval_Face_w/Oval_Face_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/26_Pale_Skin_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/26_Pale_Skin_w/Pale_Skin_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/27_Pointy_Nose_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/27_Pointy_Nose_w/Pointy_Nose_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/28_Receding_Hairline_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/28_Receding_Hairline_w/Receding_Hairline_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/29_Rosy_Cheeks_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/29_Rosy_Cheeks_w/Rosy_Cheeks_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/2_Attractive_w/Attractive_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/2_Attractive_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/30_Sideburns_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/30_Sideburns_w/Sideburns_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/31_Smiling_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/31_Smiling_w/Smiling_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/32_Straight_Hair_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/32_Straight_Hair_w/Straight_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/33_Wavy_Hair_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/33_Wavy_Hair_w/Wavy_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/34_Wearing_Earrings_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/34_Wearing_Earrings_w/Wearing_Earrings_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/35_Wearing_Hat_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/35_Wearing_Hat_w/Wearing_Hat_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/36_Wearing_Lipstick_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/36_Wearing_Lipstick_w/Wearing_Lipstick_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/37_Wearing_Necklace_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/37_Wearing_Necklace_w/Wearing_Necklace_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/38_Wearing_Necktie_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/38_Wearing_Necktie_w/Wearing_Necktie_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/39_Young_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/39_Young_w/Young_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/3_Bags_Under_Eyes_w/Bags_Under_Eyes_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/3_Bags_Under_Eyes_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/4_Bald_w/Bald_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/4_Bald_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/5_Bangs_w/Bangs_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/5_Bangs_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/6_Big_Lips_w/Big_Lips_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/6_Big_Lips_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/7_Big_Nose_w/Big_Nose_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/7_Big_Nose_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/8_Black_Hair_w/Black_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/8_Black_Hair_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_w/9_Blond_Hair_w/Blond_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_w/9_Blond_Hair_w/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/0_5_o_Clock_Shadow_z/5_o_Clock_Shadow_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/0_5_o_Clock_Shadow_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/10_Blurry_z/Blurry_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/10_Blurry_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/11_Brown_Hair_z/Brown_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/11_Brown_Hair_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/12_Bushy_Eyebrows_z/Bushy_Eyebrows_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/12_Bushy_Eyebrows_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/13_Chubby-z/Chubby_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/13_Chubby-z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/14_Double_Chin_z/Double_Chin_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/14_Double_Chin_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/15_Eyeglasses_z/Eyeglasses_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/15_Eyeglasses_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/16_Goatee_z/Goatee_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/16_Goatee_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/17_Gray_Hair_z/Gray_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/17_Gray_Hair_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/18_Heavy_Makeup_z/Heavy_Makeup_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/18_Heavy_Makeup_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/19_High_Cheekbones_z/High_Cheekbones_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/19_High_Cheekbones_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/1_Arched_Eyebrow_z/Arched_Eyebrows_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/1_Arched_Eyebrow_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/20_Male_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/20_Male_z/Male_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/21_Mouth_Slightly_Open_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/21_Mouth_Slightly_Open_z/Mouth_Slightly_Open_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/22_Mustache_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/22_Mustache_z/Mustache_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/23_Narrow_Eyes_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/23_Narrow_Eyes_z/Narrow_Eyes_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/24_No_Beard_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/24_No_Beard_z/No_Beard_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/25_Oval_Face_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/25_Oval_Face_z/Oval_Face_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/26_Pale_Skin_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/26_Pale_Skin_z/Pale_Skin_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/27_Pointy_Nose_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/27_Pointy_Nose_z/Pointy_Nose_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/28_Receding_Hairline_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/28_Receding_Hairline_z/Receding_Hairline_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/29_Rosy_Cheeks_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/29_Rosy_Cheeks_z/Rosy_Cheeks_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/2_Attractive_z/Attractive_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/2_Attractive_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/30_Sideburns_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/30_Sideburns_z/Sideburns_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/31_Smiling_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/31_Smiling_z/Smiling_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/32_Straight_Hair_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/32_Straight_Hair_z/Straight_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/33_Wavy_Hair_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/33_Wavy_Hair_z/Wavy_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/34_Wearing_Earrings_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/34_Wearing_Earrings_z/Wearing_Earrings_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/35_Wearing_Hat_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/35_Wearing_Hat_z/Wearing_Hat_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/36_Wearing_Lipstick_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/36_Wearing_Lipstick_z/Wearing_Lipstick_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/37_Wearing_Necklace_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/37_Wearing_Necklace_z/Wearing_Necklace_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/38_Wearing_Necktie_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/38_Wearing_Necktie_z/Wearing_Necktie_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/39_Young_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/39_Young_z/Young_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/3_Bags_Under_Eyes_z/Bags_Under_Eyes_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/3_Bags_Under_Eyes_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/4_Bald_z/Bald_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/4_Bald_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/5_Bangs_z/Bangs_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/5_Bangs_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/6_Big_Lips_z/Big_Lips_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/6_Big_Lips_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/7_Big_Nose_z/Big_Nose_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/7_Big_Nose_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/8_Black_Hair_z/Black_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/8_Black_Hair_z/log.txt
StyleGAN_edit/models/boundaries/for_latent_z/9_Blond_Hair_z/Blond_Hair_boundary.npy
StyleGAN_edit/models/boundaries/for_latent_z/9_Blond_Hair_z/log.txt
StyleGAN_edit/models/ffhq.pb
StyleGAN_edit/.DS_Store
StyleGAN_edit/__pycache__/ATMGAN.cpython-36.pyc
StyleGAN_edit/__pycache__/ATMGAN_edit_config.cpython-36.pyc
StyleGAN_edit/__pycache__/inference.cpython-36.pyc
StyleGAN_edit/__pycache__/InterFaceGAN.cpython-36.pyc
StyleGAN_edit/__pycache__/MakeUp.cpython-36.pyc
intro_show/.DS_Store
.idea/Facial_Attribute_Editing_Tool.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/Utils.cpython-36.pyc
.DS_Store
